!!! 5
html(lang='en')
  head
    title nodechat
    link(rel='stylesheet', href='/main.css')
    script(type='text/javascript', src='/lib/jquery-1.5.1.js')
    script(type='text/javascript', src='/lib/underscore.js')
    script(type='text/javascript', src='/lib/backbone.js')
    script(type='text/javascript', src='/lib/mashlib.js')
    script(type='text/javascript', src='/lib/ncutils.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/models/models.js')
    script(type='text/javascript', src='/controllers/controllers.js')
    script(type='text/javascript', src='/views/views.js')
    script
      //Fake out FF and IE8
      function log() {
          if (typeof console == 'undefined') {
              return;
          }
          console.log.apply(console, arguments);
      }

      $(document).ready(function () { 
        window.app = NodeChatController.init({port: !{locals.port}, hashpassword: !{locals.hashpassword}, userName: '!{locals.name}', version: '!{locals.version}' }); 
        $('input:text:first:visible').focus(function() {
            window.app.view.clearAlerts(0);
        });  
        
      });
  body
    #content
      #help
        p @user to send direct messages
          br
          | #topic to join or start topic
          br
          | -topic to unsubscribe from a topic
          br
          | click a topic name to join it. Click again to leave.
          a(href='/logout') logout
      h1 nodechat 
      div#version v!{locals.version}

      #disconnectMessage 
        | disconnected - trying to reconnect...

      #status_box
        span#user_count 0
        | users online: 
      #user_list

      p#logon_name
        label You are connected as: 
          = locals.name

      #topic_list 

      #chat_box
        #chat_list

      #message_box
        form(method='post', action='#', onsubmit='return false')#message_form
          p
            input(type='text', name='message', size='240')#message_field
            input(type='submit', value='send')#message_send_button

      #global_topic_box
        p(style='margin-top:0px')
          | Topics 
        #global_topic_list
        br


